.canvasAndDetails {
  display: grid;
  grid-template-columns: 5fr auto;
  grid-template-rows: 1fr;
  gap: 0.5rem;
}

.details {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem; */
  width: 500px;
  height: 100%;
}

.skillTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
